asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.3
Django==3.2.2
django-crum==0.7.5
django-widget-tweaks==1.4.5
idna==3.2
Pillow-9.1.0
pytz==2019.3
requests==2.26.0
sqlparse==0.3.1
urllib3==1.26.6
